form {
    width: 60vw;
    position: relative;
    top: 70px;
    left: 20vw;
    border: 4px darkolivegreen ridge;
    justify-content: center;
    height: 250px;
    background-color: slategrey;
}

